html{
    font-size: 100%;
    overflow-x: clip;
}

body:not(.ourWorkBox){
    background-color: #060B29;
    background-image: url("./Resources/Background.svg");
    background-repeat: no-repeat;
    background-size: auto-fit;
    background-position-x: center;
    color: white;
    font-family:'helvetica' ;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    overflow-x: clip;
    margin: 0;
}
.hum{
    display: flex;
    justify-content:  flex-start;
    align-items: flex-start;
    margin-left: 10%;
}

.hum.active{
    position: fixed;
    z-index: 2;
}

.humburger-Menu{
    height: 50px;
    width: 50px;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}


.humburger-Menu span{
   background-color: white;
   position:absolute;
   height: 6px;
   border-radius: 20px;
   width: 100%;
   top: 50%;
   left: 0% ;
   transform:translate(-50%, -50%);
   transition: .3s ease;
   z-index: 2;
   -webkit-tap-highlight-color: transparent;

}
.humburger-Menu span:nth-child(1){
    top: 25%;
}

.humburger-Menu span:nth-child(3){
    top: 75%;
}

.humburger-Menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);


}
.humburger-Menu.active span:nth-child(2){
    opacity: 0;
}
.humburger-Menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
   


}



.hidden-Menu{
    display: flex;
    flex-direction: column;
    position:fixed;
    align-items: center;
    justify-content: center;
    top:0;
    margin-top: 0cap;
    margin-left: 0;
    margin-right: 0;
    list-style: none;
    right: 100%;
    height: 100vh;
    width: 100%;
    font-size: 3rem;
    z-index: 2;
    background-color: #060B29;
   
    
}
.hidden-Menu.active{
    right: 0%;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    
 }
 
.list{
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: 'helvetica';
    margin-right: 3rem;
    
}

.list li{
    margin-right: 4rem;
    text-underline-offset: 10px;
    text-decoration: none;
    position: relative;

    
}


.list li:hover{
    cursor: pointer;
}

.list li:not(.contact)::after{
    content:"";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 9px;
    z-index: 1;
    left: 0;
    margin-top: 1.8rem;
    transition: transform 600ms;


}

.list li:not(.contact):hover::after{
    transform: scale(0.8,1);
}



.logo{
    margin-left: 4rem;
    height:70px;
    width:160px;
}

.contact{
    text-decoration: none !important;
    background-color: #0C7EEF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 120px;
    height: 50px;
}

.topPart{
    margin-left: auto;
    margin-right: auto;
    display:grid;
    grid-template-columns: 40% 60%;
    margin-top: 5%;
    width: 70%;
    
}
.topPart p{
    line-height: 30px;
}

.topPart .hire{
    opacity: 0.8;
}

.topPart .order{
    display: flex;
    background-color: #0C7EEF;
    width: 9.375rem;
    height: 3.75rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 2rem;
}

.topPart img{

   width: 110%;
   height: 100%;
  
   grid-column-start: 2;
   grid-column-end: 3;
   
}


.editing{
   grid-column-start: 1;
   grid-column-end: 2;
  
   width: 100%;
   
}
.mainHeading{
    font-size: clamp(1rem,3.15vw + 0.9rem,10rem);
    margin-bottom: 0;
    
   
}






.packagesSection{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 10%;
   
    
   
}

.packages{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;

    
}

.packagesH{
    display: flex;
    font-size: 40px;

}



.orderN.active{
    transform: translateX(0rem);
}

.orderNow img{
    height: 9rem;
    

}

.orderNow{
    display:flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 15rem;
    padding-right: 64rem;
    top: 1.6rem;
  
}

.orderNow p{
    position: relative;
    display: flex;
    top: 1.5rem;
    justify-content: center;
    align-items: center;
    background-color: #0C7EEF;
    border-radius: 30px;
    width: 10rem;
    height: 3.5rem;


}


.packagesTwo{
    display: grid;
    grid-template-rows: 4.5rem auto;
    grid-template-columns:50% 50%;
    grid-template-areas:"package package"
                        "lisO lisT" ;
    justify-content: center;
    align-content: center;
    row-gap:0px ;
    column-gap: 0px;
    height: 14rem;
    margin-left: 18rem;
    background-color:rgba(255, 255, 255, 0.089);
    border-radius: 20px;
    width: 42rem;
    position: absolute;
    height: 300px;
    right: 2.5rem;
    z-index: 1;
    backdrop-filter: blur(7px);
    border: 1px solid;
    border-color: rgb(255, 255, 255, 0.089);
    font-size: clamp(10px,100%,100px);
}
.packagesTwo h3{
    display: flex;
    justify-content: center;
    grid-area: package;
    font-size: 25px;

    
   
}
.packagesTwo ul{
    list-style: none
    
}

.packagesTwo li{
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    font-size: 18px;
    background-image: url('./Resources/Check mark.svg');
    background-size: 26px 26px;
    background-repeat:no-repeat ;
}



.lis{
    grid-area: lisO;
}

.listTwo{
    grid-area: lisT;

}

.singleVideoEdit{
    width: 18rem;
    height: 14rem;
    
    display: grid;
    grid-template-rows: 60px 120px 60px;
    grid-template-columns:300px;
    grid-template-areas: "single"
                         "content"
                         "oneEight";
    
    align-content: center;
    position:absolute;
    left:16rem;
    background-color:rgba(255, 255, 255, 0.089);
    border-radius: 20px;
    height: 300px;
    backdrop-filter: blur(7px);
    border: 1px solid;
    border-color: rgb(255, 255, 255, 0.089);
    

}

.vid{

    font-size: 25px;
    grid-area: single;
}

.singleVideoEdit ul{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    font-size: 18px;
    grid-area: content;
    margin-left: 1rem;
}

.singleVideoEdit li{
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    background-image: url("./Resources/Ellipse 4.svg") ;
    background-repeat:no-repeat ;
    background-size: 12px 12px;
    background-position: 0 0.3rem ;

}

.singleVideoEdit h3{
    margin-left: 1rem;
}


.perVid{
    font-size: 25px;
    grid-area:oneEight;

}

.leftArrowButton{
    --glow-line-color:#ffffff;
    --glow-line-thickness:2px;
    --glow-blur-color:#ffffff;
    --glow-line-length:30px;
    --glow-blur-thickness:3px;
    --container-offset: 100px;
    --animation-speed: 1200ms;
    position: absolute;
   -webkit-tap-highlight-color: transparent;
    z-index: 1;
    left: -2rem;
    rotate:180deg;
    cursor: pointer;
    transition: 120ms ease;}

.leftArrowButton:active{
    transform: scale(0.90);
}
.orderN{
    display: flex;
    border: 3px solid white;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 80rem;
    position: relative;
    transform: translateX(-160%);
    transition: 1300ms ease;
    
    
}
.orderNTwo{
    display: flex;
    border: 3px solid white;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 80rem;
    position: absolute;
    transition: 1300ms ease;
    top: 7rem;
    
    
}

.orderNTwo.active{
    transform: translateX(160%) ;

    
}

.rightArrowButton{
    --glow-line-color:#ffffff;
    --glow-line-thickness:2px;
    --glow-blur-color:#ffffff;
    --glow-line-length:30px;
    --glow-blur-thickness:3px;
    --container-offset: 100px;
    --animation-speed: 1200ms;
    position: absolute;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
    margin-left: 80rem;
    cursor: pointer;
    transition: 120ms ease;
    
}
.orderNTwo:is(:hover, :focus) .glow-container,.orderN:is(:hover, :focus) .glow-container{
    animation: glow-visibility var(--animation-speed) ease-in-out;
}
.glow-container{
    inset: calc(var(--container-offset) / -2);
    width: calc(100% + var(--container-offset));
    height: calc(100% + var(--container-offset));
    stroke: black;
    stroke-width: 21px;
    position: absolute;
    opacity: 0;
    
    
}

.glow-blur,.glow-line{
    rx:10rem;
    width: calc(100% - var(--container-offset));
    height: calc(97% - var(--container-offset));
    x:calc(var(--container-offset) / 2);
    y:calc(var(--container-offset) / 2.01);
    fill: transparent;
    stroke: black;
    stroke-width:3px ;
    stroke-dasharray: var(--glow-line-length) calc(50px - var(--glow-line-length)) ;
    
}


.glow-blur{
    filter: blur(3px);
    stroke: var(--glow-blur-color);
    stroke-width: 3px ;
}

.glow-line{
    
    stroke: var(--glow-line-color);
    stroke-width: var(--glow-line-thickness);
}
.orderNTwo:is(:hover, :focus) :is(.glow-line, .glow-blur){
    stroke: #ffffff;
    stroke-dashoffset: -60px;
    transition: stroke-dashoffset var(--animation-speed) ease-out;
}

.orderN:is(:hover, :focus) :is(.glow-line, .glow-blur){
    stroke: #ffffff;
    stroke-dashoffset: 60px;
    transition: stroke-dashoffset var(--animation-speed) ease-out;
}

.rightArrowButton:active{
    transform: scale(0.90);
}
.videoPlayer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ourWorkSec{
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.ourWorkSec .heading{
    font-size: 40px;

}
.ourWorkBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: #ffffff 17px solid;
    border-radius: 30px;
    position: relative;
    right: -10%;
    width: 100%;
   
   
}
.outerBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width:23%;
    border: 2px solid white;
    border-radius: 20px;
    height: 15rem;
    align-self: center;
    margin-left: 5%;

 
   
}

.innerBox{
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: 30% 40% 15% 15%;
   justify-items: center;
   align-items: center;
   margin-top: auto;
   margin-bottom: auto;
   backdrop-filter: blur(7px);
   border: 1px solid;
   border-color: rgb(255, 255, 255, 0.089);
   background-color:rgba(255, 255, 255, 0.089);
    border-radius: 20px;
    width: 80%;
    height: 200%;
    position: absolute;
    z-index: 1;
    margin-bottom: 2%
}
.ourMission{
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    line-height: 150%;
    letter-spacing: 1.5px;

}
.wantToSeeMore{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 1.2rem;
    line-height: 150%;
    margin-top: 30%;
}

.click{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #0C7EEF;
    border-radius: 30px;
    width: 8rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 3px 1px white;
}

.videoPlayer{
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2%;
    width: 80%;
    margin-right: 5%;

}

.playHead{
    display: flex;
    flex-direction: row;
    bottom: 1%;
    position: absolute;
    align-items: center;
    justify-content: center;
   
    
}

.playBarLine{
    display: flex;
    justify-content: center;
    position: relative;
    width: 40vw;
    height: 1rem;
  
}

.timerStart{
    margin-right: 2%;
  -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
            z-index: 1;

}
.timerEnd{
    margin-left: 2%;
  -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
            z-index: 1;
}

.circle{
    height: 20px;
    width: 20px;
    background-color: #7f73e2;
    position: absolute;
    border-radius: 20px;
    left: -1%;
    z-index: 2;
    cursor: pointer;
    transform: translateX(0px);
}


.timeLineBarWhite{
    width: 100%;
    height: 30%;
    border-radius: 10px;
    position: absolute;
    background-color: white;
    bottom: 30%;
    z-index: 1;
    cursor: pointer;
    
}

.timeLineBarBlue{
    width: 0%;
    height: 30%;
    left: 0;
    border-radius: 10px;
    position: absolute;
    background-color: #7f73e2;
    bottom: 30%;
    transform-origin: top left;
   
    z-index: 1;
    cursor: pointer;
    overflow: hidden;

}

.videos{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.phoneVideo{
    width: 63%;
    scale: 1.02;
    
}
.controls{
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
    width: 50%;
}
.fastForward{
    width:2.5rem;
    position: relative;
    margin-left: 2%;
    cursor: pointer;

}

.playButton{
    width: 3rem;
    cursor: pointer;
}

.pauseButton{
    width: 3rem;
    cursor: pointer;
    display: none;
}

.rewind{
    width:2.5rem;
    margin-right: 2%;
    cursor: pointer;
}

.volumeBarAndIcon{
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0%;
    z-index: 5;
    left: 10%;
    align-items: center;
    justify-content: center;
}

.volumeIcon{
    width: 20px;
}

.playHead{
    max-width: 850px;
}

input{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background-color:transparent;
    outline: none;
    opacity: 1;
    transition: opacity .15s ease-in-out;
    border-radius: 10px;
  }

  input::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background-color: #0C7EEF;
    height: 15px;
    width: 15px;
    border-radius: 10px;
    z-index: 1;
    position: relative;
    cursor: pointer;

  }

.volumeBar{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 4rem;
    left: 0%;
    cursor: pointer;
}

.volumeBlueBar{
    position: absolute;
    background-color: #7f73e2;
    width: 93%;
    height: 5px;
    justify-self: center;
    border-radius:10px ;
    left: 4%;
    z-index: 0;
    opacity:1;
    transform-origin: top left;

    
}

.volumeBlueBar::-webkit-progress-bar{
    background-color: white;
    border-radius:10px ;
}

.volumeBlueBar::-webkit-progress-value{
    background-color: #7f73e2;;
    border-radius:10px ;
}

.videos{
    background-color: transparent;
    position: relative;
  
}

.animationOne{
    width: 63%;
    transition: transform 1000ms ease;
    transform:scale(0.92);

 
   
}

.volumeIcon{
    -webkit-user-drag: none; 
    -khtml-user-drag: none;  
    -moz-user-drag: none;    
    -o-user-drag: none;      
     user-drag: none;  
}


.videoOne{
   
    display: flex;
    justify-content: center;
    transition: opacity 1000ms ease;
}

.videoTwo{
    right:-70%;
    position: absolute;
    display: flex;
    justify-content: center;
    transition: right 1000ms ease;
    z-index: 2;
    
}

@keyframes glow-visibility{
    0%, 100%{ opacity: 0;}
    25%, 75%{opacity: 1;}
}
@media(min-width:1671px){
    .humburger-Menu,.hidden-Menu{
        display: none;
    }
   

    
}
@media(min-width:1441px) and (max-width:1670px){
    .humburger-Menu,.hidden-Menu{
        display:none;
      
    }

    .innerBox{
        width: 80%;
        height: 180%;
     }
 
    
} 

@media(min-width:1301px) and (max-width:1440px){
    .humburger-Menu,.hidden-Menu{
        display:none;
      
    }

    .packagesTwo{
        width: 36rem;
        right: 1.5rem;
        
    }

    .orderN{
        width: 73rem;
     }
     .orderNTwo{
        width: 73rem;
     }
     .orderNow{
        right:27.5rem ;
        padding-right: 0px;
     }

     .rightArrowButton{
        margin-left: 73.5rem;
     }

     .innerBox{
        width: 80%;
        height: 160%;
     }

     .click{
        width: 6.5rem;
        height: 2.5rem;
     }
     
} 
@media (min-width:1171px) and (max-width:1300px){
    
    .navbar{
        display: none;
    }

    .humburger-Menu{
        margin-left: 0rem;
    }
  
   

 
    .logo{
        height: 80%;
        width: 9.3%;
    }


    .packagesTwo{
        width: 33rem;
        right: 2rem;
        
    }

    .packagesH{
        font-size: 2.2rem;
    }
     .orderN{
        width: 67rem;
     }
     .orderNTwo{
        width: 67rem;
     }

     .orderNTwo .packagesTwo li{
        font-size: 1rem;
       
     }

     .orderN .packagesTwo li,.orderNTwo .packagesTwo li{
        font-size: 1rem;
        
     }

     .orderN .singleVideoEdit li,.orderNTwo .singleVideoEdit li{
        font-size: 1.05rem;
       
     }
     
    
    
    
     .rightArrowButton{
        margin-left: 67.5rem;
     }

     .orderNow{
        right:26rem ;
        padding-right: 0px;
     }
    
     .singleVideoEdit{
        width: 16rem;
        left:14.5rem;
     }

     .innerBox{
        width: 80%;
        height: 160%;
     }

     .ourMission{
        font-size: 1rem;
     }

     .wantToSeeMore{
        font-size: 1rem;
     }
     .click{
        width: 5.5rem;
        height: 2.5rem;
     }
}
@media (min-width:931px ) and (max-width:1170px){
    .navbar{
        display: none;
    }
  
    
    .logo{
        display: none;
    }

    .orderN{
        width: 50rem;
    }

    .orderNTwo{
        width: 50rem;
     }

     .orderNTwo .packagesTwo li{
        font-size: 1rem;
        width: 7rem;
        margin-left: -2.2rem;
     }

     .orderN .packagesTwo li{
        font-size: 1rem;
        width: 7rem;
        margin-left: -2.2rem;
     }

     .orderN .packagesTwo li,.orderNTwo .packagesTwo li{
        font-size: 1rem;
        width: 7rem;
     }

     .orderN .singleVideoEdit li,.orderNTwo .singleVideoEdit li{
        font-size: 1.05rem;
       
     }
     
    .rightArrowButton{
        margin-left: 50.3rem;
     }

     .singleVideoEdit{
        width: 16rem;
        left:10.5rem;
     }

     .packagesTwo{
        width: 20rem;
        right: 2rem;
        
    }

    .packagesTwo li{
        font-size: 16px;
    }

    .packagesH{
        font-size: 2rem;
    }
    .orderNow{
        right:19.7rem ;
        padding-right: 0px;
     }
     .orderNow img{
        width:9rem ;
        
     }

     .innerBox{
        width: 80%;
        height: 130%;
     }

     
     .ourMission{
        font-size: 0.8rem;
     }

     .wantToSeeMore{
        font-size: 0.8rem;
     }
     .click{
        width: 4rem;
        height: 2rem;
     }

}
@media (min-width:741px ) and (max-width:930px){
    .navbar{
        display: none;
    }
   
    
    .logo{
        display: none;
    }

    .orderN{
        width: 35rem;
    }

    .rightArrowButton{
        margin-left: 35.3rem;
     }

     .singleVideoEdit{
        width: 16rem;
        left:17rem;
     }

     .packagesTwo{
        width: 20rem;
        right: 2rem;
        display: none;
        
    }

    .packagesTwo li{
        font-size: 16px;
    }

    .packagesH{
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    .orderNow{
        right:8.7rem ;
        padding-right: 0px;
     }
     .orderNow img{
        width:25rem ;
        
        
     }
     .orderNTwo{
        width: 35rem;
     }

     .orderNTwo .packagesTwo li{
        font-size: 1rem;
        width: 7rem;
     }

     .orderN .packagesTwo li,.orderNTwo .packagesTwo li{
        font-size: 1rem;
        width: 7rem;
     }

     .orderN .singleVideoEdit li,.orderNTwo .singleVideoEdit li{
        font-size: 1.05rem;
       
     }
     .outerBox{
        display: none;
     }

     .ourWorkBox{
        border: #ffffff 15px solid;
     }

}


@media (min-width:585px)and (max-width:740px){
    .fastForward{
        width:1.5rem;
        position: relative;
        margin-left: 2%;
        cursor: pointer;
    
    }
    
    .playButton{
        width: 2rem;
        cursor: pointer;
    }
    
    .pauseButton{
        width: 2rem;
        cursor: pointer;
        display: none;
    }
    
    .rewind{
        width:1.5rem;
        margin-right: 2%;
        cursor: pointer;
    }
    .navbar{
        display: none;
    }

    .topPart .order{
        width: 7.375rem;
        height: 2.75rem;
        font-size: 0.7rem;
    }
    
    .topPart p{
        font-size: 0.9rem;
    }
    .logo{
        display: none;
    }

 
    .mainHeading{
        font-size:1.8rem;
    }
    .orderN{
        width: 30rem;
    }

    .orderNTwo{
        width: 30rem;
     }

     .orderNTwo .packagesTwo li{
        font-size: 1rem;
        width: 7rem;
     }

     .orderN .packagesTwo li,.orderNTwo .packagesTwo li{
        font-size: 1rem;
        width: 7rem;
     }

     .orderN .singleVideoEdit li,.orderNTwo .singleVideoEdit li{
        font-size: 1.05rem;
       
     }

    .rightArrowButton{
        margin-left: 30.3rem;
     }

     .singleVideoEdit{
        width: 16rem;
        left:12.5rem;
     }

     .packagesTwo{
        width: 20rem;
        right: 2rem;
        display: none;
        
    }

    .packagesTwo li{
        font-size: 16px;
    }

    .packagesH{
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    .orderNow{
        right:8.7rem ;
        padding-right: 0px;
     }
     .orderNow img{
        width:11rem ;
        
        
     }

     .contact{
        display: none;
     }

     .outerBox{
        display: none;
     }

     .ourWorkBox{
        border: #ffffff 13px solid;
     }


}
@media(max-width:584px){
    .navbar{
        display: none;
    }

    .topPart .order{
        width: 4.375rem;
        height: 1.75rem;
        font-size: 0.46rem;
    }
    
    .mainHeading{
        font-size: clamp(0.8rem,3vw + 0.39rem,5rem);
    }
    .topPart img{
        margin-right: 10%;
    }

    .topPart p{
        line-height: 10px;
        font-size: clamp(0.5rem,0.5vw + 0.39rem,1.5rem);
    }

    .topPart .order{
        margin-top: 0.5rem;
    }
   
    .hire{
      font-size: 0.7rem;
      
    }
    .logo{
        display: none;
    }

    .orderN{
        width: 15rem;
        height: 17rem;
        flex-direction: column;
       
    }

    .orderNTwo{
        width: 15rem;
        height: 17rem;
        flex-direction: column;
        top: 5rem;
        
    }
    
    .orderNTwo.active{
        transform: translateX(30rem);
    }
    

    .rightArrowButton{
        margin-left: 15.3rem;
     }

     .singleVideoEdit{
        
        width: 13rem;
        height: 16rem;
        left:1rem;
        bottom: 2rem;
     }
     .singleVideoEdit h3{
        font-size: 1.2rem;
     }

     .singleVideoEdit li{
        font-size: 13px;
     }

     .packagesTwo{
        width: 20rem;
        right: 2rem;
        display: none;
        
    }

    .packagesTwo li{
        font-size: 1.2rem;
    }

    .packagesH{
        font-size: 1.5rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
    .orderNow{
        top: 7rem;
        right:0rem ;
        padding-right: 0px;

     }
     .orderNow img{
        width:11rem ;
        height: 6rem;
        display: none;
        
        
     }

     .orderNow p{
        width: 6rem;
        height: 3rem;
        font-size: 0.7rem;
    }

     .contact{
        display: none;
     }
     .outerBox{
        display: none;
     }

     .ourWorkBox{
        border: #ffffff 10px solid;
        border-radius: 25px;
     }

     .fastForward{
        width:1.5rem;
        position: relative;
        margin-left: 2%;
        cursor: pointer;
    
    }
    
    .playButton{
        width: 2rem;
        cursor: pointer;
    }
    
    .pauseButton{
        width: 2rem;
        cursor: pointer;
        display: none;
    }
    
    .rewind{
        width:1.5rem;
        margin-right: 2%;
        cursor: pointer;
    }
}